.footer-container {
    color: var(--secundary-color);
    padding: 20px;
    text-align: center;
}

.have-header {
  margin-right: 15%;
}

.footer-container a {
    color: var(--secundary-color);
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
}