.header-container {
    width: 15%;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: white;
}

.responsive-header-container {
    padding: 20px;
}

.hover-effect a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

.logo-container img::before {
    content: '';
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: cyan;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.logo-container {
    display: inline-block;
    height: 55px;
    width: 70px;
    background-color: var(--secundary-color);
    overflow: hidden;
    position: relative;
}

.logo-container:hover {
    transition: 1s;
    background: cyan;
}

.logo-header {
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.logo-link {
    width: 60px;
    height: 60px;
    background: no-repeat;
}

.logo-link:hover {
    width: 70px;
    height: 70px;
    transition: 0.5s;
}


.navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 auto;
    height: 80%;
}

.parts {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.rotated-parts {
    color: var(--secundary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg) translate3d(0, -50%, 0);
    margin-left: 20px;
}

.rotated-parts div {
    margin-right: 17.5px;
    margin-left: 17.5px;
}

.links {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.icono-red-social {
    background-color: white;
    border-radius: 16px;
}

/*
    Responsive header
*/

.responsive-menu {
    position: fixed;
    color: white;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(rgba(35, 35, 35, 0.492),
            rgba(70, 70, 70, 0.492));
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 600;
    transition: transform 0.8s;
}

/*
    Words Animation
*/

.hover-effect {
    display: inline-block;
    position: relative;
}

.hover-effect a::before {
    content: '';
    position: absolute;
    bottom: 40%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: cyan;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.hover-effect a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

/*
  Mobile Header
*/

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: transparent;
  color: white;
  position: relative;
  margin-bottom: 25px;
  z-index: 20;
}

.mobile-header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.8rem;
  cursor: pointer;
  z-index: 30;
}

.mobile-menu.open {
  height: 200px;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.mobile-menu li {
  padding: 15px;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.logo-container-mobile img::before {
  content: '';
  position: absolute;
  bottom: 40%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: cyan;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.logo-container-mobile {
  display: flex;
  flex-direction: row;
  width: 40%;
}

.logo-size-mobile {
  display: inline-block;
  height: 55px;
  width: 70px;
  background-color: var(--secundary-color);
  overflow: hidden;
  position: relative;
  border: 2px solid var(--secundary-color);
}

.burger-menu {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 30;
  color: var(--secundary-color);
}

.mobile-menu-light-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(179, 247, 251);
  background: radial-gradient(circle, rgba(179, 247, 251, 1) 0%, rgba(255, 255, 255, 1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  color: #333;
  padding: 20px;
}

.mobile-menu-dark-mode {
  background: #000000;
  background: linear-gradient(to bottom right, #000000 47%, #BABABA 94%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 10;
  color: #3333339a;
  padding: 20px;
}

.mobile-header-top-options {
  display: flex;
  flex-direction: row;
  width: 30%;
}

.mobile-menu-item {
  padding: 20px;
  font-size: 1.2rem;
  color: var(--secundary-color);
  background-color: rgba(255, 253, 253, 0.315);
  margin: 10px 0;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.mobile-menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.email-link:hover {
  color: rgb(255, 120, 120);
  text-decoration: underline;
}