.salesianos-text h3, p{
    display: flex;
    text-align: start;
}

.img-timeline {
    height: auto;
    width: auto;
    color: rgb(0, 184, 184);
}

.test {
  background-color: var(--detailColor);
}