.general-container {
  margin-bottom: 15%;
}

.experience-title {
  display: flex;
  flex-direction: row;
}

.title-h2 {
  margin-bottom: 5%;
  padding-left: 10px;
  color: var(--secundary-color);
  font-weight: bold;
}

@media (max-width: 768px) {
  .experience-title {
    justify-content: center;
  }
}