.darkmode-switch {
  position: fixed;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.darkmode-switch:hover {
    background-color: var(--hover-dm-btn-color);
}