body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100dvh;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #fff;
  --secundary-color: #000;
  --detailColor: cyan;
  --background-gradient: radial-gradient(circle, rgba(166,255,253,1) 0%, rgba(255,255,255,1) 72%);
  --hover-dm-btn-color: #1a1a1a37;
}

[data-theme="dark"] {
  --primary-color: #000;
  --secundary-color: #fff;
  --detailColor: cyan;
  --background-gradient: radial-gradient(circle, rgba(49,49,49,1) 0%, rgba(0,0,0,1) 68%);
  --hover-dm-btn-color: #fdd83137;
}